/* Charts Container */

.chart-1 {
  position: relative;
  min-height: 330px;
  width: 470px;
  box-shadow: -2px 1px 13px #e2feea, 2px -1px 15px #e2feea;
  padding: 25px;
}
.chart-1 canvas {
  display: block;
  box-sizing: border-box;
  height: 350px;
  width: 350px;
  margin: 0px auto;
}
canvas {
  padding:5px;
}
.chart-2 {
  min-height: 220px !important;
  width: 323px !important;
  background: rgba(98, 92, 147, 0.13);
  margin: 27px 0px;
  margin-right: 5px;
  margin-bottom: 3px;
}