form.manage-hospitals {
  border: 1px solid #3d857b;
  width: 30%;
  background: #3d857b;
  color: #9fe8b0;
  padding: 30px;
}.manage-address{
  font-size: 1.6rem;
  text-transform: uppercase;
}.qst-address {
  font-size: 1.1rem;
  margin: 4px 0px;
  font-weight: 600;
  border-radius: 10px;
}.mng-inpt {
  padding: 4px 5px;
  font-size: 1rem;
  border: 3px solid #9fe8b0;
  border-radius: 5px;
  font-size: 0.9rem;
}.update-hospitals {
  border: 1px solid #9fe8b0;
  padding: 5px 43px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #9fe8b0;
  background: #9fe8b0;
  color: #3d857b;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s linear;
  text-transform: uppercase;
}.update-hospitals:hover {
  background:#3d857b;
  color:#9fe8b0;
  box-shadow: 1px 1px 16px #3d857b;
}
