<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Forms Style -->
   <link rel="stylesheet" href="../stylesheets/forms.css">
   <!-- Diagnose Style -->
   <link rel="stylesheet" href="../stylesheets/diagnosis.css">
   <!-- Reports Style -->
   <link rel="stylesheet" href="../stylesheets/report.css">
   <!-- Common Styles  -->
   <link rel="stylesheet" href="../stylesheets/commonStyle.css">
   <!-- Start New Css -->
   <link rel="stylesheet" href="../stylesheets/Bootstrap/bootstrap.css"/>
    <!-- NORMALIZE -->
    <link rel="stylesheet" href="../stylesheets/normalize.css"/>
    <!-- ALL -->
    <link rel="stylesheet" href="../all.min.css"/>
    <!-- <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> -->
  
    <!-- Vendor  -->
    <link rel="stylesheet" href="../stylesheets/vendor.css"/>
    <!-- MASTER -->
    <link rel="stylesheet" href="../stylesheets/master.css"/>
    <link rel="stylesheet" href="../css/master.css">
   <!-- <link rel="stylesheet" href="stylesheets/"> -->
   <!-- End New Css -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/stylesheets/diagnose/selected_hospitals.css">
	  
		<!-- Responsive of diagnose -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/responsive/diagnose.css">


   
   <title><%= (typeof title != "undefined" ? title : "Default") %> </title>
</head><body>
  
  <%- body %>
    
<!-- Declarations  -->
<script src="/javascripts/declarations.js"></script>
<!-- Interfaces  -->
<script src="/javascripts/interfaces.js"></script>
<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->
<!-- Start Dev Issues -->
<script src="/javascripts/development.js"></script>
<!-- End Dev Issues -->
<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->
<!-- Handllers  -->
<script src="/javascripts/handllers.js"></script>
<!-- )+ Start Declare Modules -->
<!-- Tools -->
<script src="/javascripts/modules/tools.js"></script>
<!-- Diagnose -->
<script src="/javascripts/modules/diagnose.js"></script>
<!-- )+ End Declare Modules -->
<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->
<script src="/javascripts/diagnose.js"></script>
<!-- Main -->
<script src="/javascripts/main.js"></script>
<script src="/javascripts/Bootstrap/bootstrap.js"></script>
 <!------------------------------------------------------->
 <!-- JQUERY.JS -->
<script src="/javascripts/Bootstrap/jquery-2.2.0.min.js"></script>
   <!------------------------------------------------------->
<!-- <script src="JS/Bootstrap Js/jquery-2.2.0.min.js"></script> -->
<script src="/javascripts/Bootstrap/popper.js"></script>
<script src="/javascripts/master.js"></script>
   
</body></html>