<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="/stylesheets/Bootstrap/bootstrap.css">
  <!-- Normalize -->
  <link rel="stylesheet" href="/stylesheets/normalize.css"/>
  <!-- Master -->
  <link rel="stylesheet" href="/stylesheets/master.css"/>
  <!-- All.min -->
  <link rel="stylesheet" href="/stylesheets/all.min.css"/>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">

  <!-- Import Styles -->
  <title>  <%= (typeof title != "undefined" ? title : "Default") %> </title> 
 
</head><body>
  
  <%- body %> 
  
</body></html>