
    
    
  <!--Start Landing Page-->
  <%- include("./partials/navbar.ejs")  %> 
  <div class="dagnosis">
    <!-- + Diagnose Service Window -->
        <div class="content diagnose-start" >
            <div class="overlay"></div>
            <aside class="start-daignosis current" expPg="expService">
              <h2>Diagnose Service</h2>
              <p>Diagnostic Services facilitates the provision of timely, cost-effective,
                and high quality diagnostic care in safe and secure environments. It includes the clinical
                 services of Pathology and Laboratory Medicine, Radiology, and Nuclear Medicine .</p>
              <div class="btn">
                    <a href="/diagnose/start"><button type="button" class="btn-start">Get Started</button></a>
                    <a href="/diagnose/complete"><button type="button" class="btn-complete">Complete</button></a>
              </div>
            </aside>  
        </div>
  </div>
