<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <style>
    *{
      padding:0px;
      margin:0px;
      box-sizing: border-box;;
    }
    form {
      padding:50px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }form p {
      font-size: 1.4rem;
      font-weight: bold;
      /* padding: 5px 0px; */
      /* margin-bottom: 11px; */
    }form input[type=email] {
      padding:7px;
      width:50%;
      border:1px solid black;
      /* margin:14px 0px; */
    }form input[type=submit] {
      margin: 13px 0px;
      border: 1px solid gray;
      padding: 8px 52px;
      background: gray;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.1rem;
      transition: all .3s linear;
    }form input[type=submit]:hover {
      background-color: white;
      color:grey;
    } .address {
      border: 1px solid green;
      padding: 7px 12px;
      margin: 12px 0px;
      background: green;
      color: lightgreen;
      font-size: 1.2rem;
    }div.cnt-1 {
      margin-bottom: 25px;
      margin-top: 40px;
    }div.cnt-1 input {
      width:40%;
      padding:5px 10px;      
    }.error {
      padding: 10px 50px;
    margin: -70px 0px;
    color: red;
      
    }
  </style>
</head><body>
    <form action="" method="post">
      <div class="address">
        Reset password of <u><%- email %></u> 
      </div>
      <div class="cnt-1">
       <p> Password </p>
       <input type="password" name="password" id="password" placeholder="Enter your new password here...">
      </div>
      <div  class="cnt-1">
        <p> Confirm Password </p>
        <input type="password" name="password2" id="confirm-password" placeholder="enter the password here again...">
       </div>
      <input type="submit" value="submit">
    </form>
    <% if (success == false) { %>
      <div class="error">
        <% if (error.errors.length !== 0) { %>
          <% if(error.errors[0].param === "password") {%>
           <p> Password must at least 8 characters. </p>
         <%}else if(error.errors[0].param === "password2") {%>
           <p>Passwords must be matched...</p>
         <%}%>
           <% } %>
      </div>
    <% } %>
</body></html>